@font-face {
  font-family: "Stay Writer";
  src: url('../Font/Stay_Writer.ttf') format('truetype');
  src: url('../Font/Stay_Writer.otf') format('opentype');
  src: url('../Font/Stay_Writer.woff') format('woff');
  font-weight: normal;
  font-size: normal;
}


body{
  width: 100vw;
  overflow-x: hidden;
  min-height: 100%;
  background-image: url("../images/LagomarBG.png");
  background-size: cover;
  position: absolute;
  margin-bottom: 70px;
}

#page-content{
  font-family: "Stay Writer";
  margin-bottom: 80px;
}

.mobile-logo-container{
  margin-bottom: 30px;
}

.logo-wrapper{
  display: none;
}

.info-left, .info-right{
  color: rgb(1, 92, 126);
}
.info-right{
  width: 400px;
}

.info-img{
  width: 60px;
  height: 60px
}


.hours-img-container{
  width: 100%;
  margin-top: 60px;
}
.text-container > h2 > a{
  color: rgb(1, 92, 126);
}
.text-container > h2 > a:hover {
  text-decoration: none;
}

.hours-header{
  display: none;
}

.address{
  margin-top: 20px;
}

.info h2{
  margin: 10px auto;
  color: rgb(1,	122, 137);
}

.border-image{
  display: none;
}

.mobile-logo{
  max-width: 80%;
  margin-bottom: 30px;
}

.footer-text{
  text-align: center;
  color: rgb(1,	122, 137);
  font-family: "Stay Writer";
}

.content-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 35px auto;
}
#contact-image{
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.location-header{
  margin-top: 30px;
}

.locations{
  width: 70%;
  margin: 0 auto;
  font-size: 20px;
}

.hours-header{
  text-decoration: underline;
}




@media screen and (min-width: 930px) {
  .border-image{
    display: block;
    max-height: 570px;;
  }
  #border{
    height: 100%;
  }
  .content-container{
    max-width: 80%;
  }
  .hours-header{
    margin-top: 0;
  }
}






@media screen and (min-width: 768px){
  .mobile-logo-container{
    display: none;
  }
  .logo-wrapper{
    display: inline-block;
    width: 100vw;
    margin-top: -15px;
  }
  .line{
    border: 5px solid rgb(192, 210, 202);
    display: inline-block;
  }

  .line.left {
    width: 15vw;
  }
  .logo{
    width: 30vw;
    margin-top: -50px;
    margin-left: 5px;
  }

  .line.right{
    width: 50vw;
    float: right;
  }
  .text-container > a {
    width: 300px;
  }
  .hours-header{
    font-size: 48px;
  }
  .info-right h2 {
    font-size: 44px;
  }
  .info{
    margin-top: 30px;
  }

  .info h2{
    font-size: 36px;
    width: 300px;
  }

  .hours-img-container{
    display: none;
  }
  .hours-header{
    display: block;
  }
  .info-right{
    width: 300px;
  }

}
